@model IEnumerable<K22CNT1_NguyenVanThao_2210900125.Models.NVTCartItem>

@{
    ViewBag.Title = "Thông Tin Thanh Toán";
}

@using (Html.BeginForm("ThanhToan", "NVTCart", FormMethod.Post))
{
    <div class="row">
        <!-- Thông tin người mua -->
        <div class="col-md-6">
            <div class="card w-100">
                <div class="card-header">
                    <h2>Thông tin người mua</h2>
                </div>
                <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Ho_ten" class="col-form-label">
                                Họ tên người mua
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="Ho_ten" class="form-control"
                                   name="Ho_ten" required />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Email" class="col-form-label">
                                Email người mua
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="email" id="Email" class="form-control" name="Email" required />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Dien_thoai" class="col-form-label">
                                SĐT người mua
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="Dien_thoai" class="form-control"
                                   name="Dien_thoai" required />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Dia_chi" class="col-form-label">
                                Địa chỉ người mua
                            </label>
                        </div>
                        <div class="col-auto">
                            <textarea rows="2" id="Dia_chi" name="Dia_chi" class="form-control" required></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Thông tin hóa đơn -->
        <div class="col-md-6">
            <hr />
            <div class="cart w-100">
                <div class="cart-header">
                    <h2>Thông tin hóa đơn</h2>
                </div>
                <div class="card-body">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Ma_hoa_don" class="col-form-label">
                                Mã hóa đơn
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly id="Ma_hoa_don" class="form-control"
                                   name="Ma_hoa_don" value="@ViewBag.Ma_hoa_don" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Ngay_thanh_toan" class="col-form-label">
                                Ngày thanh toán
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="date" id="Ngay_thanh_toan" class="form-control"
                                   name="Ngay_thanh_toan" value="@DateTime.Now.ToString("yyyy-MM-dd")" />
                        </div>
                    </div>
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="Tong_tien" class="col-form-label">
                                Trị giá hóa đơn
                            </label>
                        </div>
                        <div class="col-auto">
                            <input type="text" readonly id="Tong_tien" class="form-control"
                                   name="Tong_tien" value="@ViewBag.TongTriGia" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Chi tiết giỏ hàng -->
    <div class="row">
        <div class="card my-3">
            <div class="card-header">
                <h2>Chi tiết đơn hàng</h2>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Tên Tour</th>
                            <th>Hình ảnh</th>
                            <th>Số Người Mua</th>
                            <th>Đơn Giá</th>
                            <th>Thành Tiền</th>
                            <th>Chức năng</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.TenTour</td>
                                <td><img src="@item.HinhAnh" style="width:50px" alt="@item.TenTour" /></td>
                                <td>@item.SoNguoiMua</td>
                                <td>@item.DonGiaMua</td>
                                <td>@item.ThanhTien</td>
                                <td>
                                    @Html.ActionLink("Xóa", "DeleteItemCart", new { id = item.ID }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="card-footer">
                <h2>Tổng trị giá: @ViewBag.TongTriGia</h2>
            </div>
        </div>
    </div>

    <button class="btn btn-outline-primary" type="submit">Thanh toán</button>
}
