@model NguyenVanThao_2210900125_CNT1_project2.Models.DANH_GIA

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DANH_GIA</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Noi_dung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Noi_dung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem_so)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem_so)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ngay_danh_gia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ngay_danh_gia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KHACH_HANG.Ho_ten)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KHACH_HANG.Ho_ten)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOUR.Ten_tour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOUR.Ten_tour)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_danh_gia }) |
    @Html.ActionLink("Back to List", "Index")
</p>
