@model NguyenVanThao_2210900125_CNT1_project2.Models.TOUR

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>TOUR</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Ten_tour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ten_tour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mo_ta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mo_ta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Gia_tour)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Gia_tour)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Thoi_gian)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Thoi_gian)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem_khoi_hanh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem_khoi_hanh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diem_den)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diem_den)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trang_thai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Ma_Tour }) |
    @Html.ActionLink("Back to List", "Index")
</p>
