@model IEnumerable<NguyenVanThao_2210900125_CNT1_project2.Models.TOUR>

@{
    ViewBag.Title = "Index";
}

<h2>Tour</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="table-warning">
        <th>
            @Html.DisplayNameFor(model => model.Ten_tour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mo_ta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gia_tour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Thoi_gian)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem_khoi_hanh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Diem_den)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Trang_thai)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="table-success">
        <td>
            @Html.DisplayFor(modelItem => item.Ten_tour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Mo_ta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gia_tour)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thoi_gian)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem_khoi_hanh)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Diem_den)
        </td>
        <td>
            @{ var statusText = item.Trang_thai.HasValue && item.Trang_thai.Value == 1 ? "Đang hoạt động" : "Không hoạt động"; }
            @statusText
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Ma_Tour }) |
            @Html.ActionLink("Details", "Details", new { id=item.Ma_Tour }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Ma_Tour })
        </td>
    </tr>
}

</table>
