@model IEnumerable<K22CNT1_NguyenVanThao_2210900125.ViewModel.DH_ChiTiet>

@{
    var hoaDon = ViewBag.HoaDon as K22CNT1_NguyenVanThao_2210900125.Models.HOA_DON;
}

<h2>Chi tiết đơn hàng - @hoaDon.Ma_hoa_don</h2>

<p><strong>Ngày thanh toán:</strong> @hoaDon.Ngay_thanh_toan</p>
<p><strong>Thông tin khách hàng:</strong> @hoaDon.Ho_ten, @hoaDon.Email, @hoaDon.Dien_thoai, @hoaDon.Dia_chi</p>

<p>
    <strong>Trạng Thái: </strong>@(hoaDon.Trang_thai == 0 ? "Đang xử lý" : "Đã hoàn thành")
</p>

<p><strong>Tổng tiền:</strong> @ViewBag.TongTien.ToString("N0") VNĐ</p>

<h3>Danh sách sản phẩm</h3>
<table class="table">
    <thead>
        <tr>
            <th>Tên tour</th>
            <th>Hình ảnh</th>
            <th>Đơn giá</th>
            <th>Số người mua</th>
            <th>Thành tiền</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.TenTour</td>
                <td><img src="@item.HinhAnh" alt="@item.TenTour" style="width:100px; height:100px;" /></td>
                <td>@item.DonGiaMua.ToString("N0") VNĐ</td>
                <td>@item.SoNguoiMua</td>
                <td>@item.ThanhTien.ToString("N0") VNĐ</td>
            </tr>
        }
    </tbody>
</table>

@Html.ActionLink("Quay lại", "OrderHistory", null, new { @class = "btn btn-primary" })
